body{
    background-color: #f4f4f4;
}
/*头部开始*/
.header{
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.header-box{
    position: relative;
}

.wrap{
    width: 1190px;
    margin: 0 auto;
}

.logo{
    position: absolute;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    background-color: rgb(206, 194, 30);
}

.logo>a{
    display: block;
    height: 100%;
    background:url(./../images/logo.png) no-repeat;
}

.search{
    width: 100%;
    /* height: 60px; */
}

.search-fix{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #FFD700;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%) ;
    animation: searchTop .5s ease-in-out;
}

.search-logo{
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;
    display: none;
}

.search-logo>a{
    display: block;
    height: 100%;
    background: url(./../images/logo.png)no-repeat;
}

@keyframes searchTop{
    0%{
        top: -50px;
    }
    100%{
        top: 0;
    }
}

.search-m{
    position: relative;
    width: 1190px;
    margin: 0 auto;
    height: 60px;
}

.form{
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid 	#FFD700;
}

.form>input{
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 26px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    outline: none;
    line-height: 26px;
    font-size: 12px;
}

.form>button{
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 32px;
    border: none;
    line-height: 32px;
    background-color: #FFD700;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: background .2s ease;
    cursor: pointer;
}

.form>button:hover{
    background-color: #FFC125;
}

.search-list{
    position: absolute;
    top: 35px;
    left: 0;
    width: 488px;
    /* height: 100px; */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,2);
    display: none;
}

.search-list>li{
    padding: 1px 6px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}

.search-list>li:hover{
    background-color: #f5f5f5;
    cursor: pointer;

}
/*头部结束*/

/*轮播图开始*/
.banner{
    width: 790px;
    height: 470px;
    /* background-color: red; */
    margin: 0 auto;
    margin-top: 10px;
}

.banner-box{
    position: relative;
    width: 590px;
    height: 470px;
    background-color: blue;
}
.banner-box>a>img{
    width: 590px;
    height: 470px;
}

.banner-box>.prev,.banner-box>.next{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 25px;
    height: 35px;
    background-color: rgba(0,0,0,.15);
    font-size: 30px;
    line-height: 35px;
}

.banner-box>.prev{
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.banner-box>.next{
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.banner-box i{
    display: block;
    width: 25px;
    height: 35px;
    color: #fff;
    font-weight: 700;
    user-select: none;
}

.banner-box>.next>i{
    position: relative;
    left: 5px;
}

.banner-box>ul{
    height: 15px;
    position: absolute;
    left: 30px;
    bottom: 20px;
}

.banner-box>ul>li{
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(0, 0, 0,.05);
    background-color: rgba(255,255,255,.4);
    margin-right: 4px;
    border-radius: 50%;
}

.banner-box>ul>.active{
    position: relative;
    top: -1px;
    border: 2px solid rgba(0, 0, 0,.01);
    background-color: rgba(255, 255,255,.9);
}
/*轮播图结束*/

/*主体开始*/
    .miaosha{
        height: 260px;
        margin-top: 30px;
        background-color: aquamarine;
    }

    .youxuan{
        height: 980px;
        margin-top: 20px;
        background-color: gold;
    }

    .guangchang{
        height: 1005px;
        margin-top: 20px;
        background-color: pink;
    }

    .tuijian{
        height: 1870px;
        margin-top: 20px;
        background-color: aqua;
    }

    .content{
        position: relative;
    }

    .elevator{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 615px;
        width: 58px;
        background-color: #fff;
    }

    .elevator>a{
        display: block;
        width: 38px;
        height: 38px;
        padding: 10px;
        color: #333;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        transition: color .2s ease;
    }

    .elevator>a:hover{
        background-color: #FFD700;
        color: #fff;
    }

    .elevator-fix{
        position: fixed;
        top: 75px;
        transition: all 0.5s;
    }
/*主体结束*/